body{
	background-image: url("../img/Background.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: Muli;
}
/*css pagina inicial ordenado de elementos arriba a abajo*/
body.Home{
align-items: center;
}

img.Logo{
margin-left: -45px;
margin-top: 100px;
width: 618px;
height: 158px;
}


p.Texto1{
width: 527px;
height: 48px;
color: #ffffff;
font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 24px;
margin-top: 120px;
text-align: center;
}

input.CodigoPostal{
width: 527px;
height: 48px;
border-radius: 4px;
border: 1px solid #ffffff;
background-color:rgba(48, 108, 119, 0.0);
}
.CodigoPostal::placeholder {
width: 213px;
height: 23px;
color: #ffffff;
font-family: Muli;
font-size: 18px;
font-weight: 400;
}


/*div.Buscar{
padding-top: 4px;
width: 527px;
height: 48px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: #00bde0;
}*/

button.Buscar{
padding-top: 4px;
width: 527px;
height: 48px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: #00bde0;
border:0px;
}

p.TextoBoton{
margin-left: 160px;
width: 400px;
height: 35px;
color: #ffffff;
font-family: Muli;
font-size: 24px;
font-weight: 700;
}
span.Lupa{
	margin-left:170px;
	font-size: 0.6rem;
	color: #ffffff;
}



p.Texto2{
text-align: center;
margin-top: 140px;
width: 527px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 24px;
}





/*css pagina de temperatura*/

div.columna1{
width: 1114px;
height: 530px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
background-color: rgba(48, 108, 119, 0.7);
}

p.eleccion{
width: 200px;
height: 10px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
line-height: 24px;
}
p.CodigoPostal{
position: absolute;
margin-left: 120px;
margin-top: -27px;
width: 300px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
p.nombre{
position: absolute;
margin-left: 70px;
margin-top: -27px;
width: 300px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 20px;
font-weight: 700;
line-height: 24px;
}


div.columna2{
margin-left: 30px;
width: 418px;
height: 530px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
background-color: rgba(48, 108, 119, 0.7);
}

p.Texto3{
margin-left: 260px;
margin-top: -10px;
width: 310px;
height: 29px;
color: #ffffff;
font-family: Muli;
font-size: 28px;
font-weight: 400;
line-height: 12px;
}

input.Busqueda{
margin-left: 14px;
width: 114px;
height: 21px;
opacity: 0.7;
color: #ffffff;
font-family: Muli;
font-size: 14px;
font-weight: 300;
border: 0px;
background-color:rgba(48, 108, 119, 0.0);
}

p.ranking{
text-align: center;
width: 327px;
height: 59px;
color: #ffffff;
font-family: Muli;
font-size: 24px;
font-weight: 300;
line-height: 28px;
}

div.ranking{
	position: absolute;
	margin-top: 100px;
}
table.ranking{
	margin-left: 10px;
	position: absolute;
	margin-top: 100px;
}

td.posicion{
width: 10px;
height: 29px;
color: #ffffff;
font-family: Muli;
font-size: 24px;
font-weight: 300;
line-height: 24px;
}

td.grados{
padding-left: 10px;
text-align: right;
width: 100px;
height: 57px;
color: #ffffff;
font-family: Muli;
font-size: 48px;
font-weight: 300;
line-height: 48px;
}

td.datos{
padding-top: 20px;
padding-left: 50px;
width: 180px;
height: 10px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 8px;
}


tr.ranking{
	padding-top: 10px;
	border-bottom: #ffffff 1px solid; 
}

td.ahora{
	padding-right: 40px;
text-align: center;
width: 200px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border-right: #ffffff 1px solid;
}

td.horas{
text-align: center;
width: 430px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border-right: #ffffff 1px solid;
}

td.dias{
text-align: center;
width: 300px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
td.contenido-ahora{
align-items: left;
width: 100px;
height: 240px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border-right: #ffffff 1px solid;
}

td.contenido-horas{
text-align: center;
width: 430px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border-right: #ffffff 1px solid;
}

td.contenido-dias{
text-align: center;
width: 300px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

div.icono{
	position: absolute;
	padding-right: 500px;

	width: 100px;
	height: 100px;
}
div.temperatura{
padding-top: 50px;
padding-left: 100px;
width: 77px;
height: 86px;
color: #ffffff;
font-family: Muli;
font-size: 58px;
font-weight: 300;
}
div.tipo{
position: absolute;
padding-left: 100px;
width: 200px;
height: 24px;
color: #ffffff;
font-family: "Muli";
font-size: 18px;
font-weight: 700;
line-height: 24px;
}
td.tabla-horas{
text-align: center;
width: 120px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border-right:white 1px solid;
}
td.tabla-horas2{
text-align: center;
width: 120px;
height: 24px;
color: #ffffff;
font-family: Muli;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}








.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 120%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 80%;
	list-style: none;
}


@keyframes cambio {
	0% {margin-left: 0;}
	80% {margin-left: 0;}
	
	20% {margin-left: -20%;}
	100% {margin-left: -20%;}

	
}

